<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">

        <meta name="viewport"content="width=device-width,intial-scale=1,shrink-to-fit=no">
    </head>
    <body>
        <h1>wavファイル再生</h1>
        <audio controls>
            <source src="music/voice">
        </audio>
    </body>
    <body class="test-center">
        <h2>地図へ移動</h2>
        <form action="/nextpage" method="get">
            <input type="submit" value='地図へ移動'>
        </form>
    </body>
</html>
